<ng-container *ngIf="!hikeCollection || hikeCollection.length === 0">
  <ion-img src="../../../assets/hiking.svg"></ion-img>
  <ion-text>
    <h4>No Hikes found...</h4>
  </ion-text>
</ng-container>

<ng-container *ngIf="hikeCollection">
  <ion-card *ngFor="let hike of hikeCollection" [routerLink]="['/detail/' + hike.hikeId]">
    <app-picture-collection [pictureCollection]="hike.pictureCollection"></app-picture-collection>
    <ion-card-header>
      <ion-card-subtitle>{{ hike.location.address.city }}</ion-card-subtitle>
      <ion-card-title>{{ hike.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ hike.shortDescription }}
      <p class="ion-text-right ion-text">
        <ion-text *ngIf="hike.author.authorId !== authorService.getAuthor().authorId" color="tertiary">
          by {{ hike.author.name }}
        </ion-text>
      </p>
    </ion-card-content>

  </ion-card>
</ng-container>
