<h1>{{ hike.title }}</h1>
<p>{{ hike.shortDescription }}</p>

<app-picture-collection [pictureCollection]="hike.pictureCollection"></app-picture-collection>

<ion-grid class="ion-margin-vertical">
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-icon name="time-outline" class="big-icon"></ion-icon>
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-icon name="trending-down-outline"></ion-icon>
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-icon name="trending-up-outline" class="ion-text-center"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-label>{{ hike.stats.duration | formatDuration }}</ion-label>
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-label>{{ hike.stats.lowestPoint }} m</ion-label>
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-label>{{ hike.stats.highestPoint }} m</ion-label>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid class="ion-margin-vertical">
  <ion-row>
    <ion-col size="2" class="ion-align-items-center">
      <ion-icon name="navigate-circle-outline" class="bigger-icon"></ion-icon>
    </ion-col>
    <ion-col>
      {{ hike.location.address | fullAddress }}
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="2" class="ion-align-items-center ion-align-self-center">
      <ion-icon name="compass-outline" class="bigger-icon"></ion-icon>
    </ion-col>
    <ion-col class="ion-align-self-center">
      {{ hike.location.coordinates | coordinates }}
    </ion-col>
  </ion-row>
</ion-grid>

<p [innerHTML]="hike.longDescription"></p>
