<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" text=""></ion-back-button>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding-bottom">
    <ion-row class="ion-justify-content-center">
      <ion-col size="8">
        <ion-img src="assets/logo.svg" [routerLink]="['/']"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <form (ngSubmit)="login()" #form="ngForm">
    <ion-card>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input [(ngModel)]="email" name="email" minlength="6" maxlength="50" email required="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input [(ngModel)]="password" name="password" type="password" minlength="10"></ion-input>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button expand="block" color="tertiary" [routerLink]="['/register']">Register</ion-button>
          </ion-col>
          <ion-col>
            <ion-button type="submit" expand="block" color="success" [disabled]="!form.valid">Login</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </form>
</ion-content>
