<ion-header>
  <ion-toolbar>
    <ion-title>Verify your email</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="6">
        <ion-img src="../../../assets/register.svg"></ion-img>
      </ion-col>
      <ion-col size="12">
        <h4 class="ion-text-center">Registration successful!</h4>
        <p class="ion-text-center">
          We sent a mail to {{ userService.getEmail() }}. Please check your mails to verify your account.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
