<ion-header>
  <ion-toolbar>
    <ion-title>Share hike with friend</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="friends">
    <form [formGroup]="shareForm" (ngSubmit)="share()">
      <ng-container formArrayName="friendsSelection">
        <ion-list-header>Friends</ion-list-header>
        <ion-item *ngFor="let friend of friends; let i = index">
          <ion-checkbox slot="start" color="tertiary" [formControlName]="i"></ion-checkbox>
          <ion-label>{{ friend.name }}</ion-label>
        </ion-item>
        <ion-button type="submit" color="success" expand="block">
          share
        </ion-button>
      </ng-container>
    </form>
  </ion-list>

</ion-content>
