<ion-menu side="start" menuId="main" contentId="ion-router-outlet">
  <ion-header>
    <ion-toolbar color="success">
      <ion-title>Menu</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="menu.close()">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item [routerLink]="['/new']" (click)="menu.close()">
        <ion-icon name="add-outline" slot="start"></ion-icon>
        <ion-label>Add hike</ion-label>
      </ion-item>
      <ion-item [routerLink]="['/author']" (click)="menu.close()">
        <ion-icon name="person-circle-outline" slot="start"></ion-icon>
        <ion-label>Your profile</ion-label>
      </ion-item>
    </ion-list>
    <ion-img src="assets/logo.svg"></ion-img>
  </ion-content>
</ion-menu>
